@font-face {
  font-family: 'LINE Seed JP';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/LINESeedJP_OTF_Rg.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed JP';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/LINESeedJP_OTF_Bd.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed JP';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/LINESeedJP_OTF_Eb.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed JP';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/LINESeedJP_OTF_Eb.woff2') format('woff2');
  font-display: swap;
}

@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'LINE Seed JP', "PingFang SC", "Microsoft YaHei", Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;

}